# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages in Data Science
- List commonly used libraries
- List Data Science Tools
- Evaluationg Arithmetic Expressions in Python

## Author
Shareina

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas

| Data Science Tools |
-------------------------------
| Jupyter Notebook |
| MATLAB |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers#
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335